# --- BOT AUTHENTICATION TOKENS ---
BOT_TOKEN = "ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890abcdefghijklmnopqrstuvwxyz"  # Alpha Testing Bot Token
# --- DISCORD SERVER AND CHANNEL IDS ---
SERVER_ID                   =   1234567890123456789     # The Server ID for the IC Mafia Testing Server
TALKY_TALKY_CHANNEL_ID      =   1234567890123456789     # The channel ID for the #talky-talky channel
STORIES_CHANNEL_ID          =   1234567890123456789     # The channel ID for the #stories channel
VOTING_CHANNEL_ID           =   1234567890123456789     # The channel ID for the #voting-channel channel
RULES_AND_ROLES_CHANNEL_ID  =   1234567890123456789     # The channel ID for the #rules-and-roles channel
DEADZOR_CHANNEL_ID          =   1234567890123456789     # The channel ID for the #deadzor channel
SIGN_UP_HERE_CHANNEL_ID     =   1234567890123456789     # The channel ID for the #sign-up-here channel
MOD_CHANNEL_ID              =   1234567890123456789     # The channel ID for the #mod channel
ANNOUNCEMENT_CHANNEL_ID     =   1234567890123456789     # The channel ID for the #announcement channel
# --- SERVER ROLES ---
ADMIN_ROLE_ID = 1234567890123456789                     # Role ID for Admins
LIVING_PLAYER_ROLE_ID = 1234567890123456789             # Role ID for Living Players
DEADZOR_PLAYER_ROLE_ID = 1234567890123456789            # Role ID for Dead Players
SPECTATOR_ROLE_ID = 1234567890123456789                 # Role ID for Spectators
CLASSIC_MVP_ROLE_ID = 1234567890123456789               # Role ID for Classic MVP
BR_GLADIATOR_ROLE_ID = 1234567890123456789              # Role ID for Battle Royale Gladiator
CLASSIC_TOP_SURVIVOR_ROLE_ID = 1234567890123456789      # Role ID for Classic Top Survivor
BR_TOP_SURVIVOR_ROLE_ID = 1234567890123456789           # Role ID for Battle Royale Top Survivor
CLASSIC_RED_SHIRT_ROLE_ID = 1234567890123456789         # Role ID for Classic Red Shirt
BR_RED_SHIRT_ROLE_ID = 1234567890123456789              # Role ID for Battle Royale Red Shirt


# --- GOOGLE API KEYS ---
GOOGLE_AI_API_KEY="AbCdEfGhIjKlMnOpQrStUvWxYz1234567890aBcD"  # API key for Google AI services
# --- GAME DATA PATHS AND SETTINGS ---
ENVIRONMENT="Testing"  # Game type for the bot (used for data paths and other environment-specific settings)
# --- BOT SETTINGS ---
BOT_PREFIX = "/" # Command prefix for the bot
OWNER_ID = 1234567890123456789  # Replace with your Discord user ID (for owner-only commands)
# --- Statistics Tracking Settings ---
GOOGLE_SHEET_ID = "123ABC456DEF789GHI" # Google Sheet ID for storing game statistics
GOOGLE_CREDENTIALS_FILE = "ic-mafia-bot-1234567890abcdef.json" # Google API credentials file for accessing the Google Sheets API
GOOGLE_SIMULATION_SHEET_ID = "123_ABC456_DEF789_GHI"  # Simulation Sheet ID for balance testing purposes