# --- Configuration ---
config.py
.env
.env.test
.env.beta
.env.production


# --- Dynamic Data (Ignore these) ---
# Ignore the specific dynamic roles file, but keep other json files (like role_definition.json)

data/discord_roles.json
data/mafia_setups.json
data/ic-mafia-bot-*.json
data/*mafia_setups.json
data/*discord_roles.json


# --- Stats & Logs (Ignore ALL generated data) ---
# This line ignores the entire stats folder (Alpha, Beta, AND Production)
stats/Alpha Testing/
stats/BETA Testing/
stats/

# This ignores the entire logs folder
logs/
Logs/
*.log
nohup.out
nohup.err

# --- Python & System Junk ---
__pycache__/
*.py[cod]
.DS_Store


# --- Output Folders & Files ---

folder_structure.txt
/Mafia History Project/output
*.csv
/Mafia History Project/output
Mafia History Project/output/new_discord_history.jsonl

/Simulations
