# --- Configuration ---
config.py
.env
.env.test
.env.beta
.env.production
.env.*

# Ignore specific data folders
data/community_submissions
data/discord_setup
data/narration

# --- Stats & Logs (Ignore ALL generated data) ---
# This line ignores the entire stats folder (Alpha, Beta, AND Production)
stats/Alpha_Testing/
stats/BETA Testing/
stats/BETA_Testing/
stats/Testing/

# This ignores the entire logs folder
logs/
Logs/
*.log
nohup.out
nohup.err

# --- Python & System Junk ---
__pycache__/
*.py[cod]
.DS_Store


# --- Output Folders & Files ---

folder_structure.txt
/Mafia History Project/output
*.csv
/Mafia History Project/output
Mafia History Project/output/new_discord_history.jsonl

/Simulations

data/ic-mafia-bot-41a41f61e757.json
20260421-220000_ai_prompts.json
